# related to medusa strore:

medusa-store-cc-avenue/dist
medusa-store-cc-avenue/.env
medusa-store-cc-avenue/.DS_Store
medusa-store-cc-avenue/uploads
medusa-store-cc-avenue/node_modules
medusa-store-cc-avenue/yarn-error.log

medusa-store-cc-avenue/.idea

medusa-store-cc-avenue/coverage

medusa-store-cc-avenue/!src/**

medusa-store-cc-avenue/tsconfig.tsbuildinfo
medusa-store-cc-avenue/package-lock.json
medusa-store-cc-avenue/yarn.lock
medusa-store-cc-avenue/medusa-db.sql
medusa-store-cc-avenue/build
medusa-store-cc-avenue/.cache

medusa-store-cc-avenue/.yarn/*
medusa-store-cc-avenue/!.yarn/patches
medusa-store-cc-avenue/!.yarn/plugins
medusa-store-cc-avenue/!.yarn/releases
medusa-store-cc-avenue/!.yarn/sdks
medusa-store-cc-avenue/!.yarn/versions


# related to plugin:
plugin/.idea
plugin/lib
plugin/node_modules
plugin/.DS_store
**/.DS_Store
plugin/.env*
plugin/*.js

plugin/dist
plugin/coverage

plugin/api/
plugin/services/
plugin/models/
plugin/subscribers/
plugin/migrations/
plugin/loaders/
plugin/index.*

plugin/!src/**

plugin/tsconfig.tsbuildinfo
plugin//package-lock.json
plugin/yarn.json